.footer {
  font-size: 170%;
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  opacity: 0.75;
  background-color: #528cad;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
  min-height: 100%;
  background-color: #FFD8D2;
}

.jumbotron {
  text-align: center;
  background-color: #AD5256;
  color: #F5D0CA;
}

.text-muted {
  color: #CCC8C8;
}

.footerlink {
  margin-left: 20px;
  color: #15557A;
}

.footerlink:hover {
  color: #81E0D0;
}

.form-control {
  width: 80%;
  background-color: #DBBAB5;
}

.btn-default {
  background-color: #81E0D0;
}

.list-group, .list-group-item, a.list-group-item {
  background-color: #15557A;
  color: #CCC8C8;
}

.list-group-item:hover, a.list-group-item:hover {
  background-color: #528CAD;
}

.btn-danger {
  background-color: #AD5256;
}

.list-group-item-heading {
  color: #81E0D0;
}
