<!DOCTYPE html>
<html>
  <head>
    <title>Band Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class='container'>
      <div class="jumbotron">
        <h1>Epicodus Gig Tracker</h1>
      </div>

      #parse( $template )


    </div>
    <footer class="footer">
      <div class='container'>
        <a href="/" class="footerlink">Home</a>
        <a href="/search" class="footerlink">Search</a>
        <p class="text-muted small">Copyright 2016 Abigail Rolling</p>
      </div>
    </footer>
  </body>
</html>
